{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1>Welcome to Maple Match!</h1>
    <p style="margin-left: 100px; margin-right: 100px; font-size: large;">
        We're excited to have you here. Register for a free
        MapleMatch account to search and star jobs that stand out to you for easy revisiting later.<br>
        If you already have an account with us, login <a href="/login">here</a>
    </p>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
